*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
homeWork1/*.iml
homeWork1/.idea/
homeWork1/out/
homeWork1/.idea/*
StagingCheck/.idea/*
*/target/**
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
